import mixins

html
	head
		head ( title )
	body
		navbar( userId )
		div.container
			table
				thead
					tr
						th User ID
						th Total mins
						th Shopping Mins
						th Snacking Mins
						th Socializing Mins
						th Unique Purchase count
						th Unique Snack count
						th Score
				tbody
					tr foreach="user in data"
						td user.userId
						td user.totalMins
						td user.shoppingMins
						td user.snackingMins
						td user.socializingMins
						td user.uniquePurchases.size()
						td user.uniqueSnacks.size()
						td user.weightedScore					