include mixins.pug

html
	head
		+head ( title )
		style(type="text/css").
			canvas#chart {
				width: 1200px !important;
				height: 550px !important;
			}
	body
		+navbar( userId )
		script(type="application/json", id="data") !{data}
		
		canvas#chart